.article-comments
  .box
    .r-box{style: 'margin: 1px;'}
      .r-box{style: 'margin: 1px;'}
        .content
          .v_content
            .v_avatar
              %img
            .v_info
              %a 用户1
              2014-01-12 [
              %a 回复
              ]
              %span.pull-right #1
            .v_in_content 内容
      .content
        .v_content
          .v_avatar
            %img
          .v_info
            %a 用户2
            2014-01-12 [
            %a 回复
            ]
            %span.pull-right #2
          .v_in_content 内容2
    .content
      .v_content
        .v_avatar
          %img
        .v_info
          %a 用户3
          2014-01-12 [
          %a 回复
          ]
          %span.pull-right #3
        .v_in_content 内容3
  .box
    .replied 点击展开
    .content
      .v_content
        .v_avatar
          %img
        .v_info
          %a 用户2
          2014-01-12 [
          %a 回复
          ]
          %span.pull-right #2
        .v_in_content 内容2
  .box
    .content
      .v_content
        .v_avatar
          %img
        .v_info
          %a 用户1
          2014-01-12 [
          %a 回复
          ]
          %span.pull-right #1
        .v_in_content 内容
  .article-no-comment 暂时没有评论