%div{:id => id}
  .btn-group
    %button.btn.button{'data-wysihtml5-command'=>"bold", :title => "CTRL+B", style: 'height: 28px'}
      %span B
    %button.btn.button{'data-wysihtml5-command'=>"italic", :title => "CTRL+I", style: 'height: 28px'}
      %span I
    %button.btn.button{'data-wysihtml5-command'=>"insertImage", style: 'height: 28px'}
      %span.icon-pictures
    %button.btn.button{'data-wysihtml5-command' => 'createLink', style: 'height: 28px'}
      %span.icon-link
      %span.icon-minus
    %button.btn.button.color-select{style: 'height: 28px', onclick: 'color_click(this)', 'data-wysihtml5-command-group' => 'foreColor'}
      .color-shower
    %ul#color-area
      - require "#{dynamic_path}/edit/view/color_list"
      - ColorList.colors.each do |color|
        %li{'data-wysihtml5-command-value' => color, 'data-wysihtml5-command' => 'foreColor', style: "background-color:##{color}"}
    .tool-box{'data-wysihtml5-dialog' => 'createLink', :style => 'display:none'}
      %label
        %input{value: 'http://', 'data-wysihtml5-dialog-field' => 'href'}
        .btn-group
          %button.btn.button{'data-wysihtml5-dialog-action' => 'save', title: 'OK'}
            %span.icon-checkmark
          %button.btn.button{'data-wysihtml5-dialog-action' => 'cancel', title: '取消'}
            %span.icon-close
    .tool-box{'data-wysihtml5-dialog' => 'insertImage', :style => 'display:none'}
      %label
        %input{'data-wysihtml5-dialog-field' => 'src'}
        .btn-group
          %button.btn.button{'data-wysihtml5-dialog-action' => 'save', title: 'OK'}
            %span.icon-checkmark
          %button.btn.button{'data-wysihtml5-dialog-action' => 'cancel', title: '取消'}
            %span.icon-close