.simple-text-content .font {
  position: relative; }
.simple-text-content ul {
  padding: 0; }
.simple-text-content .btn {
  cursor: pointer; }
.simple-text-content .font-group {
  position: absolute;
  left: 3px;
  top: 25px;
  display: none;
  list-style: none;
  margin: 0;
  background: white;
  font-size: 12px;
  border: 1px solid black; }
.simple-text-content .font-group > .font-btn {
  display: block;
  width: 44px;
  height: 15px;
  color: black;
  text-align: center;
  padding-bottom: 2px;
  cursor: pointer;
  text-shadow: none; }
  .simple-text-content .font-group > .font-btn:hover {
    background: cornflowerblue;
    color: white; }
  .simple-text-content .font-group > .font-btn.wysihtml5-command-active {
    background: blue;
    color: white; }
    .simple-text-content .font-group > .font-btn.wysihtml5-command-active:hover {
      background: cornflowerblue; }
.simple-text-content .color {
  position: relative; }
  .simple-text-content .color > .color-group {
    position: absolute;
    display: none;
    width: 85px;
    padding: 2px;
    background-color: white;
    box-shadow: 1px 0 2px #555555;
    -moz-box-shadow: 1px 0 2px #555555;
    border-radius: 2px;
    left: 0;
    top: 30px;
    margin: 0;
    list-style: none; }
    .simple-text-content .color > .color-group > li {
      width: 5px;
      height: 5px;
      list-style: none;
      float: left; }
      .simple-text-content .color > .color-group > li:hover {
        box-shadow: 0 0 2px black;
        -moz-box-shadow: 0 0 2px black;
        position: relative; }
      .simple-text-content .color > .color-group > li.wysihtml5-command-active {
        box-shadow: 0 0 2px black;
        -moz-box-shadow: 0 0 2px black;
        position: relative; }
  .simple-text-content .color > div {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background: black; }
.simple-text-content .simple-text-content {
  position: relative; }
.simple-text-content .btn-group .btn {
  height: 34px; }
.simple-text-content .image-add {
  padding: 2px;
  background-color: white;
  box-shadow: 1px 0 2px #555555;
  -moz-box-shadow: 1px 0 2px #555555;
  border-radius: 2px;
  position: absolute;
  left: 90px;
  top: 30px;
  z-index: 11;
  width: 230px;
  height: 76px; }
  .simple-text-content .image-add input[data-wysihtml5-dialog-field='src'] {
    margin-bottom: 0; }
  .simple-text-content .image-add .show-image {
    width: 66px;
    height: 66px;
    margin: 2px 0 2px 12px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
    text-align: center;
    padding: 20px 0; }
    .simple-text-content .image-add .show-image > #simple-text-image {
      width: 66px;
      height: 66px;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 11;
      display: none; }
      .simple-text-content .image-add .show-image > #simple-text-image[src] {
        display: block; }
    .simple-text-content .image-add .show-image > .image-background {
      width: 60px;
      height: 60px;
      top: 4px;
      border: 4px dashed #999999;
      border-radius: 14px;
      position: absolute;
      z-index: 11; }
  .simple-text-content .image-add #display {
    margin: 8px 3px; }
    .simple-text-content .image-add #display .icon-close {
      cursor: pointer; }
  .simple-text-content .image-add #link {
    margin-bottom: 2px; }
.simple-text-content .insert-link {
  width: 240px;
  margin-bottom: 5px; }
  .simple-text-content .insert-link .form-control {
    height: 34px; }
  .simple-text-content .insert-link .btn {
    height: 34px; }
.simple-text-content .switch:before {
  content: "HTML"; }
.simple-text-content .switch.wysihtml5-action-active:before {
  content: "Preview"; }
.simple-text-content #bold {
  font-weight: bolder; }
  .simple-text-content #bold:before {
    content: "B"; }
  .simple-text-content #bold.wysihtml5-command-active {
    font-weight: normal; }
.simple-text-content #italic {
  font-style: italic; }
  .simple-text-content #italic:before {
    content: "I"; }
  .simple-text-content #italic.wysihtml5-command-active {
    font-style: normal; }
.simple-text-content #add-link .icon-minus {
  display: none; }
.simple-text-content #add-link.wysihtml5-command-active .icon-minus {
  display: inline; }
.simple-text-content #add-link.wysihtml5-command-active .icon-link {
  display: none; }
