@charset "UTF-8";
body {
  background-color: #1abc9c;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "汉仪中黑简", "微软雅黑", "黑体", sans-serif; }

.top-border {
  top: 5px;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 67px;
  z-index: 0; }

@font-face {
  font-family: "Sniglet";
  font-style: normal;
  font-weight: 400;
  src: local("Sniglet Regular"), local("Sniglet-Regular"), url(http://themes.googleusercontent.com/static/fonts/sniglet/v4/zaGgxcO7SfusqT6GpDlcHg.woff) format("woff"); }

@font-face {
  font-family: "Aladin";
  font-style: normal;
  font-weight: 400;
  src: local("Aladin Regular"), local("Aladin-Regular"), url(http://themes.googleusercontent.com/static/fonts/aladin/v2/buRUtoRWOWPeMPMKs6Y-uw.woff) format("woff"); }

@font-face {
  font-family: "Limelight";
  font-style: normal;
  font-weight: 400;
  src: local("Limelight"), url(http://themes.googleusercontent.com/static/fonts/limelight/v4/kD_2YDkzv1rorNqQ2oFK5j8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "Numans";
  font-style: normal;
  font-weight: 400;
  src: local("Numans"), local("Numans-Regular"), url(http://themes.googleusercontent.com/static/fonts/numans/v3/H6jkjoZl4TIrPYyjhdoCcw.woff) format("woff"); }

.myboka {
  width: 980px;
  margin: 0 auto;
  color: #555555;
  position: relative;
  z-index: 1;
  margin-top: 5px;
  background-color: #1abc9c;
  word-break: break-all; }
  .myboka .hidden {
    display: none; }
  .myboka input, .myboka textarea {
    font-family: iconFont, sans-serif;
    border: 1px solid #b3b3b3;
    font-size: 12px;
    border-radius: 2px;
    padding: 5px 8px;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms; }
    .myboka input:hover, .myboka textarea:hover {
      border: 1px solid #1abc9c;
      box-shadow: 0 0 2px #1abc9c;
      -moz-box-shadow: 0 0 2px #1abc9c; }
  .myboka .helper {
    font-family: iconFont;
    border: none;
    background-color: transparent;
    font-size: 12px; }
  .myboka a {
    color: #1abc9c;
    text-decoration: none; }
  .myboka a.reversion {
    color: #a0a3a7; }
    .myboka a.reversion:hover {
      color: white;
      background-color: #5d6d7e;
      border-radius: 1px; }
  .myboka a.gray {
    color: #555555;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms; }
    .myboka a.gray:hover {
      color: #a0a3a7; }
  .myboka .row {
    clear: both; }
    .myboka .row:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .myboka .header {
    clear: both;
    background-color: white;
    height: 67px; }
    .myboka .header .title {
      padding: 0;
      margin: 0;
      color: #a0a3a7;
      display: inline;
      font-size: 40px; }
    .myboka .header .header-right {
      float: right;
      margin-top: 16px; }
      .myboka .header .header-right .navbar {
        display: inline;
        margin-right: 5px; }
        .myboka .header .header-right .navbar .navitem, .myboka .header .header-right .navbar .navitem-last {
          float: left;
          position: relative;
          display: block;
          padding: 7px 17px;
          margin: 0 0.5px;
          font-size: 13px;
          text-shadow: 0 1px 0 white;
          border-radius: 2px;
          color: #a0a3a7; }
          .myboka .header .header-right .navbar .navitem:hover, .myboka .header .header-right .navbar .navitem.active, .myboka .header .header-right .navbar .navitem-last:hover, .myboka .header .header-right .navbar .navitem-last.active {
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
            color: white;
            background-color: #1abc9c;
            text-shadow: none; }
      .myboka .header .header-right .search {
        float: right;
        position: relative;
        margin: 4px 10px; }
        .myboka .header .header-right .search > input {
          width: 161px; }
          .myboka .header .header-right .search > input:hover {
            border: 1px solid #1abc9c;
            box-shadow: 0 0 3px #1abc9c;
            -moz-box-shadow: 0 0 3px #1abc9c; }
          .myboka .header .header-right .search > input:active {
            border: 1px solid #a0a3a7; }
        .myboka .header .header-right .search .result {
          position: absolute;
          opacity: 0.96;
          z-index: 20;
          top: 36px;
          background-color: white;
          width: 180px;
          box-shadow: 2px 2px 0 #a0a3a7;
          -moz-box-shadow: 2px 2px 0 #a0a3a7;
          overflow: hidden;
          border-top: 1px solid #eeeeee;
          border-left: 1px solid #eeeeee; }
          .myboka .header .header-right .search .result .search-result {
            padding: 10px 6px; }
          .myboka .header .header-right .search .result .mark {
            width: 0;
            height: 0;
            border-width: 5px;
            border-style: solid;
            border-color: #1abc9c white white #1abc9c;
            float: left; }
          .myboka .header .header-right .search .result .r-noone {
            padding: 10px;
            text-align: center;
            font-size: 12px;
            color: #a0a3a7; }
          .myboka .header .header-right .search .result .r-header {
            background-color: white;
            color: #555555;
            font-size: 10px;
            padding: 1px 2px;
            border-bottom: 1px solid #f1f1f1;
            border-left: 2px solid #1abc9c;
            font-weight: bold; }
          .myboka .header .header-right .search .result .r-bottom {
            color: #555555;
            font-size: 11px;
            font-weight: bold;
            padding: 2px 5px;
            display: block; }
            .myboka .header .header-right .search .result .r-bottom:hover {
              background-color: #f1f1f1; }
          .myboka .header .header-right .search .result .r-article {
            padding: 2px 5px;
            max-height: 57px;
            min-height: 34px;
            color: #a0a3a7;
            font-size: 10px;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden; }
            .myboka .header .header-right .search .result .r-article .r-title {
              color: #555555;
              font-size: 11px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 160px;
              font-weight: bold; }
  .myboka > .content {
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 30px 10px 20px 25px; }
    .myboka > .content .top-information {
      width: 964px;
      height: 136px;
      border-radius: 2px;
      overflow: hidden;
      color: white;
      position: relative; }
      .myboka > .content .top-information .block {
        width: 100%;
        height: 100%;
        position: absolute; }
        .myboka > .content .top-information .block .welcome {
          width: 100%;
          height: 100%;
          background-color: #1abc9c;
          position: relative;
          padding: 20px 17px; }
          .myboka > .content .top-information .block .welcome h2 {
            margin: 0 0 0 70px;
            font-weight: normal;
            font-size: 28px; }
          .myboka > .content .top-information .block .welcome .bottom {
            right: 25px;
            bottom: 26px;
            position: absolute;
            font-size: 52px; }
          .myboka > .content .top-information .block .welcome .quotation {
            font-family: "Aladin";
            font-size: 160px;
            float: left;
            display: block;
            margin-top: -26px; }
            .myboka > .content .top-information .block .welcome .quotation:before {
              content: "“"; }
      .myboka > .content .top-information.white {
        width: 100%;
        border-radius: 0;
        border-color: #1abc9c;
        border-style: solid;
        border-width: 2px 1px 2px 1px;
        color: #1abc9c;
        height: 112px; }
        .myboka > .content .top-information.white .welcome {
          background-color: white;
          padding: 10px; }
          .myboka > .content .top-information.white .welcome h2 {
            margin: 0 0 0 55px; }
          .myboka > .content .top-information.white .welcome .bottom {
            font-family: "Limelight";
            font-size: 62px;
            right: 36px;
            bottom: -4px; }
          .myboka > .content .top-information.white .welcome .quotation {
            font-size: 80px;
            margin-top: -17px;
            margin-left: -5px; }
          .myboka > .content .top-information.white .welcome .quotation:before {
            font-family: "Numans";
            content: '"';
            font-style: italic; }
    .myboka > .content #content-field {
      width: 960px;
      margin-top: -25px; }
      .myboka > .content #content-field .article-item {
        color: #a0a3a7;
        margin-top: 58px;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        -webkit-transition: all 400ms;
        transition: all 400ms; }
        .myboka > .content #content-field .article-item .top {
          height: 60px; }
          .myboka > .content #content-field .article-item .top .mark {
            float: left;
            height: 50px;
            width: 50px;
            border-radius: 2px;
            background-color: #1abc9c; }
          .myboka > .content #content-field .article-item .top .title {
            height: 53px;
            width: 540px;
            float: left;
            font-size: 18px;
            margin-left: 17px; }
            .myboka > .content #content-field .article-item .top .title > a {
              color: #555555; }
              .myboka > .content #content-field .article-item .top .title > a:hover {
                text-decoration: underline; }
            .myboka > .content #content-field .article-item .top .title .subtitle .item {
              float: left; }
        .myboka > .content #content-field .article-item .content {
          margin-top: 3px;
          padding: 0;
          text-indent: 20px;
          overflow: hidden;
          text-overflow: ellipsis; }
        .myboka > .content #content-field .article-item .more {
          background-color: #1abc9c;
          width: 99px;
          color: white;
          text-align: center;
          padding: 8px 6px;
          font-size: 14px;
          margin-top: 19px;
          display: block;
          border-radius: 2px;
          font-weight: bold;
          -moz-transition: all 400ms;
          -o-transition: all 400ms;
          -webkit-transition: all 400ms;
          transition: all 400ms; }
          .myboka > .content #content-field .article-item .more:hover {
            background-color: #3498db; }
        .myboka > .content #content-field .article-item img {
          display: none;
          border: 1px solid #a0a3a7;
          margin: 6px 0 0 20px;
          max-height: 80px;
          max-width: 80px;
          padding: 2px; }
          .myboka > .content #content-field .article-item img[src] {
            display: inline; }
        .myboka > .content #content-field .article-item:hover .top .mark {
          background-color: #3498db; }
      .myboka > .content #content-field .pagination {
        margin: 58px 0 0 0;
        padding-bottom: 45px; }
        .myboka > .content #content-field .pagination a {
          border: none;
          display: block;
          width: 38px;
          padding: 9px 0;
          text-align: center;
          font-weight: bold;
          border-radius: 2px;
          margin-right: 3px;
          float: left; }
          .myboka > .content #content-field .pagination a[disabled] {
            opacity: 0.6; }
        .myboka > .content #content-field .pagination .left a {
          background-color: #f1f1f1;
          color: #555555; }
          .myboka > .content #content-field .pagination .left a.disabled {
            background-color: #1abc9c;
            color: white; }
            .myboka > .content #content-field .pagination .left a.disabled:hover {
              color: white; }
          .myboka > .content #content-field .pagination .left a:hover {
            color: #a0a3a7; }
        .myboka > .content #content-field .pagination .right {
          float: right; }
          .myboka > .content #content-field .pagination .right a {
            font-family: iconFont;
            background-color: #1abc9c;
            color: white; }
            .myboka > .content #content-field .pagination .right a:hover {
              background-color: #3498db; }
            .myboka > .content #content-field .pagination .right a.disabled:hover {
              background-color: #1abc9c; }
  .myboka .span1 {
    float: left;
    display: block;
    width: 10%; }
  .myboka .span2 {
    float: left;
    display: block;
    width: 20%; }
  .myboka .span3 {
    float: left;
    display: block;
    width: 30%; }
  .myboka .span4 {
    float: left;
    display: block;
    width: 40%; }
  .myboka .span5 {
    float: left;
    display: block;
    width: 50%; }
  .myboka .span6 {
    float: left;
    display: block;
    width: 60%; }
  .myboka .span7 {
    float: left;
    display: block;
    width: 70%; }
  .myboka .span8 {
    float: left;
    display: block;
    width: 80%; }
  .myboka .span9 {
    float: left;
    display: table-column;
    width: 90%; }
  .myboka .span10 {
    float: left;
    display: block;
    width: 100%; }
  .myboka .offset1 {
    margin-left: 10%; }
  .myboka .offset2 {
    margin-left: 20%; }
  .myboka .offset3 {
    margin-left: 30%; }
  .myboka .offset4 {
    margin-left: 40%; }
  .myboka .offset5 {
    margin-left: 50%; }
  .myboka .offset6 {
    margin-left: 60%; }
  .myboka .offset7 {
    margin-left: 70%; }
  .myboka .offset8 {
    margin-left: 80%; }
  .myboka .offset9 {
    margin-left: 90%; }
  .myboka .padding10 {
    padding: 10px; }
  .myboka .button {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #1abc9c;
    color: white;
    padding: 1px 3px;
    border: none;
    font-size: 14px;
    display: inline-block;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms; }
    .myboka .button:hover {
      border: none;
      background-color: #3498db;
      box-shadow: 0 0 2px #3498db;
      -moz-box-shadow: 0 0 2px #3498db; }
    .myboka .button:active {
      border: none;
      box-shadow: none;
      -moz-box-shadow: none; }
    .myboka .button[disabled] {
      background-color: #a0a3a7; }
      .myboka .button[disabled]:hover {
        box-shadow: none;
        -moz-box-shadow: none; }
    .myboka .button:active {
      box-shadow: none;
      -moz-box-shadow: none; }
  .myboka .icon-button {
    padding: 2px; }
  .myboka .sign-up {
    height: 110px;
    margin: 51px 111px 0 68px; }
    .myboka .sign-up .register-button {
      width: 110px;
      display: block;
      font-size: 17px;
      text-align: center;
      padding: 3px 0;
      margin-top: 18px;
      font-weight: 500; }
      .myboka .sign-up .register-button:hover {
        border: none;
        background-color: red;
        box-shadow: 0 0 2px red;
        -moz-box-shadow: 0 0 2px red; }
      .myboka .sign-up .register-button:active {
        border: none;
        box-shadow: none;
        -moz-box-shadow: none; }
    .myboka .sign-up .login-button {
      width: 110px;
      display: block;
      font-size: 17px;
      text-align: center;
      padding: 3px 0;
      font-weight: 500; }
      .myboka .sign-up .login-button:hover {
        border: none;
        background-color: green;
        box-shadow: 0 0 2px green;
        -moz-box-shadow: 0 0 2px green; }
      .myboka .sign-up .login-button:active {
        border: none;
        box-shadow: none;
        -moz-box-shadow: none; }
  .myboka .footer {
    text-align: center;
    font-size: 12px;
    padding: 20px 10px 3px 10px; }
    .myboka .footer a {
      color: white; }
    .myboka .footer .information {
      margin-bottom: 3px;
      color: white; }
  .myboka .main-tail {
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    padding: 5px 20px;
    margin: 2px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #a0a3a7;
    -moz-box-shadow: 1px 1px 2px #a0a3a7; }
  .myboka .extend {
    position: relative; }
    .myboka .extend .extend-list {
      display: none;
      position: absolute;
      list-style: none;
      z-index: 13; }
      .myboka .extend .extend-list a {
        display: block; }
  .myboka .user-info {
    padding: 20px 0 30px 0; }
    .myboka .user-info .avatar {
      float: left;
      background-color: #1abc9c;
      margin-right: 17px;
      padding: 1px;
      width: 54px;
      height: 54px; }
      .myboka .user-info .avatar img {
        width: 52px;
        height: 52px;
        border: 1px solid #555555; }
    .myboka .user-info .extend {
      font-size: 12px;
      display: inline; }
      .myboka .user-info .extend .extend-button {
        cursor: pointer;
        border-radius: 2px;
        font-size: 10px;
        padding: 1px;
        color: white;
        text-shadow: 1px 1px 1px #555555;
        background-color: #1abc9c;
        border-bottom: 1px solid #117964;
        border-top: 1px solid #3ee4c4;
        border-left: 1px solid #17a689;
        border-right: 1px solid #17a689; }
        .myboka .user-info .extend .extend-button:hover {
          background-color: #1cc9a7; }
        .myboka .user-info .extend .extend-button:active {
          border-bottom: 1px solid #3ee4c4;
          border-top: 1px solid #117964; }
      .myboka .user-info .extend ul.extend-list {
        background-color: white;
        border: 1px solid #a0a3a7;
        left: 0;
        top: 10px;
        padding: 0;
        width: 70px; }
        .myboka .user-info .extend ul.extend-list li {
          margin: 3px; }
          .myboka .user-info .extend ul.extend-list li a {
            width: 100%; }
          .myboka .user-info .extend ul.extend-list li:hover {
            background-color: #1abc9c; }
            .myboka .user-info .extend ul.extend-list li:hover a {
              color: white; }
    .myboka .user-info .username {
      font-size: 14px;
      font-weight: bold;
      font-style: italic; }
    .myboka .user-info .description {
      font-size: 12px;
      min-height: 32px;
      max-height: 46px;
      text-overflow: ellipsis;
      display: block; }
    .myboka .user-info .buttons {
      margin-top: 18px; }
    .myboka .user-info .public-button {
      margin: 9px auto;
      width: 123px;
      display: block;
      font-size: 16px;
      text-align: center;
      position: relative;
      padding: 3px 0; }
      .myboka .user-info .public-button .badge {
        font-size: 12px;
        border-radius: 20px;
        padding: 1px 5px;
        background-color: red;
        border: 2px solid white;
        position: absolute;
        right: -6px;
        top: -6px;
        display: block;
        box-shadow: 0 0 2px #a0a3a7;
        -moz-box-shadow: 0 0 2px #a0a3a7; }
  .myboka .control-row {
    clear: both;
    font-size: 12px;
    margin: 5px 0 5px 50px;
    height: 30px;
    vertical-align: middle; }
    .myboka .control-row .control-label {
      float: left;
      width: 40px;
      color: #555555;
      height: 100%;
      padding: 5px; }
    .myboka .control-row .control {
      float: left; }
      .myboka .control-row .control .help-block {
        display: block;
        color: red; }
      .myboka .control-row .control input {
        max-width: 200px; }
      .myboka .control-row .control .password {
        width: 150px; }
    .myboka .control-row .login-button {
      padding: 1px 12px; }
    .myboka .control-row .checkbox {
      padding: 5px; }
      .myboka .control-row .checkbox .icheckbox_flat-blue {
        position: absolute; }
      .myboka .control-row .checkbox label {
        color: #a0a3a7;
        margin-left: 26px;
        margin-top: 6px; }
    .myboka .control-row .submit-row {
      margin: 14px 0 0 49px;
      width: 211px; }
  .myboka .tags {
    margin-left: -21px;
    height: 46px;
    text-shadow: none;
    clear: both; }
    .myboka .tags > .label {
      background-color: #1abc9c;
      padding: 3px 1px;
      font-weight: bold;
      display: inline;
      font-size: 13px;
      border-radius: 2px;
      border-bottom: 1px solid #17a689;
      margin-right: 7px; }
    .myboka .tags > .tag {
      display: inline-block;
      position: relative;
      margin-left: 2px; }
      .myboka .tags > .tag > a {
        background-color: #f1f1f1;
        border-bottom: 1px solid #cbcbcb;
        border-top: 1px solid white;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        font-size: 10px;
        padding: 3px 9px;
        color: #555555;
        border-radius: 2px;
        font-weight: 500; }
        .myboka .tags > .tag > a:hover {
          background-color: #f9f9f9; }
        .myboka .tags > .tag > a:active {
          border-bottom: 1px solid white;
          border-top: 1px solid #cbcbcb; }
      .myboka .tags > .tag > .remove {
        right: -5px;
        top: -7px;
        width: 15px;
        height: 15px;
        color: white;
        font-size: 10px;
        border: none;
        position: absolute;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        z-index: 10; }
    .myboka .tags > .new-tag {
      display: inline-block;
      position: relative; }
      .myboka .tags > .new-tag .new-tag-content {
        display: none;
        position: absolute;
        left: 0;
        top: -3px;
        width: 300px; }
      .myboka .tags > .new-tag > button {
        margin-left: 2px; }
      .myboka .tags > .new-tag button {
        background-color: #1abc9c;
        border-bottom: 1px solid #117964;
        border-top: 1px solid #3ee4c4;
        border-left: 1px solid #17a689;
        border-right: 1px solid #17a689;
        font-size: 10px;
        padding: 2px 0;
        color: white; }
        .myboka .tags > .new-tag button:hover {
          background-color: #1cc9a7; }
        .myboka .tags > .new-tag button:active {
          border-bottom: 1px solid #3ee4c4;
          border-top: 1px solid #117964; }
  .myboka h4 {
    margin: 0;
    border-left: 4px solid #1abc9c;
    border-bottom: 1px solid #f1f1f1;
    padding: 2px 8px;
    font-weight: 500;
    font-size: 14px;
    width: 235px;
    color: #555555; }
  .myboka .more {
    text-align: right;
    font-size: 12px;
    padding-right: 50px; }
    .myboka .more > a {
      display: block;
      padding-right: 3px; }
      .myboka .more > a:hover {
        background-color: #f1f1f1;
        border-radius: 2px; }
  .myboka .v_info {
    font-size: 12px;
    color: #aaaaaa;
    margin-right: 8px; }
  .myboka .pull-right {
    float: right; }
  .myboka .subtitle {
    margin-top: 9px;
    font-size: 12px;
    width: 100%; }
    .myboka .subtitle .item {
      width: 94px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block; }
      .myboka .subtitle .item.time {
        width: 112px; }
  .myboka .article img {
    max-width: 600px; }
  .myboka .article .a-header {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    padding: 34px 10px 10px 16px;
    text-align: center; }
    .myboka .article .a-header .title {
      font-size: 20px;
      font-weight: bolder; }
    .myboka .article .a-header .subtitle {
      font-size: 11px;
      font-weight: normal;
      color: #a0a3a7; }
      .myboka .article .a-header .subtitle .item {
        display: inline-block; }
  .myboka .article .body {
    margin: 10px 26px 0 26px;
    padding-right: 2px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 0 white;
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white; }
  .myboka .article-comments {
    margin: 5px 0 4px 26px;
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white; }
    .myboka .article-comments .box {
      margin: 5px;
      border: 1px dashed #a0a3a7;
      padding: 4px;
      background-color: white; }
      .myboka .article-comments .box .content {
        padding: 2px 5px;
        font-size: 13px; }
        .myboka .article-comments .box .content:after {
          content: ".";
          height: 0;
          visibility: hidden;
          display: block;
          clear: both; }
        .myboka .article-comments .box .content img {
          max-width: 64px;
          max-height: 64px; }
      .myboka .article-comments .box .author {
        font-size: 12px;
        color: #a0a3a7;
        font-style: italic; }
      .myboka .article-comments .box .r-box {
        border: 1px dashed #a0a3a7;
        background-color: #faf2cc; }
      .myboka .article-comments .box .replied {
        border: 1px dashed #a0a3a7;
        color: #a0a3a7;
        background-color: #eeeeee;
        font-size: 12px;
        padding: 2px 4px;
        cursor: pointer; }
  .myboka .article-no-comment {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: #28e1bd;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: block; }
  .myboka .article-comment {
    min-height: 138px;
    margin-left: 26px; }
  .myboka #article-replay {
    margin-left: 10px;
    font-size: 11px;
    color: #aaaaaa; }
  .myboka .article-nologin {
    margin-left: 26px;
    height: 60px;
    color: #a0a3a7;
    font-size: 12px; }
    .myboka .article-nologin > #loading {
      width: 36px;
      height: 36px;
      background: url("/images/loading.gif") no-repeat center; }
    .myboka .article-nologin ul.pagination {
      list-style: none;
      clear: both;
      margin: 0 10px 5px 10px;
      padding: 0; }
      .myboka .article-nologin ul.pagination:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .myboka .article-nologin ul.pagination li {
        margin: 1px;
        float: left; }
  .myboka .btn-group {
    margin-top: 0;
    clear: both;
    position: relative; }
    .myboka .btn-group:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .myboka .btn-group .btn {
      margin-top: 2px;
      margin-right: 5px;
      padding: 0;
      width: 40px;
      float: left; }
  .myboka code {
    background-color: #f1f1f1;
    border: 1px solid #a0a3a7;
    border-radius: 2px;
    display: inline-block;
    margin: 4px 10px;
    padding: 2px; }
