-# @articles 文章(们?)
-# dynamic_path 动态文件路径
.top-information
  .block
    .welcome
      .quotation
      %h2
        = public_settings.description
= render file: bk_template_path('skim/view/articles')