- @template.paths do |js, css|
  - js.each do |jf|
    = bk_javascript_include_tag jf.path
  - css.each do |cf|
    = bk_stylesheet_link_tag cf.path
.container
  .col-md-8.col-md-offset-2{style: 'padding: 10px;margin-top: 50px;border: 1px solid black'}
    = render file: @content_path, locals: {id: 'id_1', default: params[:content],
    dynamic_path: @template.dynamic_path, template_info: Hashie::Mash.new(@template.description)}
  .col-md-8.col-md-offset-2
    = form_tag skim_template_path(name: @template.name, version: @template.version), target: '_blank', onsubmit: 'skim_click()' do
      %input#content{name: 'content', style: 'display: none'}
      %button.btn.btn-default#bk_send_button 查看效果
      %a.btn.btn-default{href: the_root_path} 返回