- if !header
  .post{'pagination-key' => object.created_at.to_i}
    %h2
      = link_to(object.title, article_path(object))
    .entry
      - text_clip object.summary do |text, images|
        - images.each do |image|
          %p= raw image
        = text
    .entry-meta
      = link_to('Read more', article_path(object))
