%style{:type => 'text/css'}
  = ".article-comments .r-box{background-image: url('#{assets_url('skim/assets/reply_arrow.png')}');background-position: 18px bottom;background-repeat: no-repeat;}"
#wrapper
  #inner
    #head
      #menu
        %ul
          - if public_settings.home
            %li
              %a{href: root_path} 主页
          - unless public_settings.pages.nil?
            - public_settings.pages.each do |page|
              %li
                %a{href: collection_path(page.id)}= page.title
      #search
        %form{style: 'line-height: 18px'}
          %input{type:'text',placeholder: '搜索...', search: 'true'}
    = render_content

  #bottom
    %p
      ©Copyright 2012
      %a{href: 'http://artky.net', target: '_block'} artky.net
      | Powered by MyBoka