.wysiwyg-font-size-x-large {
    font-size-adjust: 0.7;
}
.wysiwyg-font-size-large {
    font-size-adjust: 0.6;
}
.wysiwyg-font-size-medium {
    font-size-adjust: 0.5;
}
.wysiwyg-font-size-small {
    font-size-adjust: 0.4;
}
.wysiwyg-font-size-x-small {
    font-size-adjust: 0.3;
}