.tv_video{id: id}
  - begin
    - json = JSON(element.content)
    - case json['type']
      - when /tudou|bilibili|media/
        %embed{src: json['player'], type:'application/x-shockwave-flash',
        allowscriptaccess:'always', allowfullscreen:'true',
        wmode:'opaque', width:'480', height:'400'}
      - when 'youku'
        %iframe{height: 498, width: 510, src: json['player'], frameborder: 0, allowfullscreen: true}
      - else
  - rescue StandardError => _
    = element.content