.simple-text-content
  .font
    position: relative
  ul
    padding: 0
  .btn
    cursor: pointer
  .font-group
    position: absolute
    left: 3px
    top: 25px
    display: none
    list-style: none
    margin: 0
    background: #ffffff
    font-size: 12px
    border: 1px solid black
  .font-group
    >.font-btn
      display: block
      width: 44px
      height: 15px
      color: black
      text-align: center
      padding-bottom: 2px
      cursor: pointer
      text-shadow: none
      &:hover
        background: cornflowerblue
        color: #ffffff
      &.wysihtml5-command-active
        background: #0000ff
        color: #ffffff
        &:hover
          background: cornflowerblue
  .color
    position: relative
    >.color-group
      position: absolute
      display: none
      width: 85px
      padding: 2px
      background-color: #ffffff
      box-shadow: 1px 0 2px #555
      -moz-box-shadow: 1px 0 2px #555
      border-radius: 2px
      left: 0
      top: 30px
      margin: 0
      list-style: none
      >li
        width: 5px
        height: 5px
        list-style: none
        float: left
        &:hover
          box-shadow: 0 0 2px black
          -moz-box-shadow: 0 0 2px black
          position: relative
        &.wysihtml5-command-active
          box-shadow: 0 0 2px black
          -moz-box-shadow: 0 0 2px black
          position: relative
    > div
      width: 15px
      height: 15px
      border: 1px solid #000000
      background: black
  .simple-text-content
    position: relative
  .btn-group .btn
    height: 34px

  .image-add
    padding: 2px
    background-color: #ffffff
    box-shadow: 1px 0 2px #555
    -moz-box-shadow: 1px 0 2px #555
    border-radius: 2px
    position: absolute
    left: 90px
    top: 30px
    z-index: 11
    width: 230px
    height: 76px
    input[data-wysihtml5-dialog-field='src']
      margin-bottom: 0
    .show-image
      width: 66px
      height: 66px
      margin: 2px 0 2px 12px
      position: relative
      font-size: 18px
      font-weight: bold
      color: #999
      text-align: center
      padding: 20px 0
      > #simple-text-image
        width: 66px
        height: 66px
        left: 0
        top: 0
        position: absolute
        z-index: 11
        display: none
        &[src]
          display: block
      > .image-background
        width: 60px
        height: 60px
        top: 4px
        border: 4px dashed #999
        border-radius: 14px
        position: absolute
        z-index: 11
    #display
      margin: 8px 3px
      .icon-close
        cursor: pointer
    #link
      margin-bottom: 2px
  .insert-link
    width: 240px
    margin-bottom: 5px
    .form-control
      height: 34px
    .btn
      height: 34px
  .switch
    &:before
      content: 'HTML'
    &.wysihtml5-action-active:before
      content: 'Preview'
  #bold
    font-weight: bolder
    &:before
      content: 'B'
    &.wysihtml5-command-active
      font-weight: normal
  #italic
    font-style: italic
    &:before
      content: 'I'
    &.wysihtml5-command-active
      font-style: normal
  #add-link
    .icon-minus
      display: none
    &.wysihtml5-command-active
      .icon-minus
        display: inline
      .icon-link
        display: none